<link rel="stylesheet" href="assets/style/auth.css">

<div class="auth-body">
    <section class="auth-header">
        <h1 class="auth-header-title">Crie uma conta de cliente</h1>
        <p class="auth-header-description">Cadastre-se para poder realizar pedidos e ter acesso a descontos promocionais</p>
    </section>
    <form class="auth-form" method="post" action="cliente/auth/register">
        <div class="auth-input-container">
            <label class="auth-input-label" for="nome">Nome</label>
            <input type="text" class="auth-input" placeholder="Digite o seu nome">
        </div>
        <div class="auth-input-container">
            <label class="auth-input-label" for="sobrenome"> sobrenome</label>
            <input type="text" class="auth-input" placeholder="Digite o seu sobrenome">
        </div>
        <div class="auth-input-container">
            <label class="auth-input-label" for="email">E-mail</label>
            <input type="email" class="auth-input" placeholder="Digite o seu melhor e-mail" name="email" id="email">
        </div>
        <div class="auth-input-container">
            <label class="auth-input-label" for="password">Senha</label>
            <input type="password" class="auth-input" placeholder="Digite a sua senha" name="password" id="password">
        </div>
        <button type="submit" class="auth-send-button">Realizar cadastro</button>
        <a href="entrar" class="auth-alt-button">Já tem conta? Faça login</a>
    </form>
</div>