body {
    background-color: #ececec;
}
.container-categorias {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container-dashboard { 
    display: flex;
    flex-direction: row;
}

.dashboard-content {
    max-height: 100vh;
    overflow-y: scroll;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ececec;
}

.listagem-text {
    display: flex;
    align-items:center;
    gap: 10px;
}

.barra-lateral {
    background-color: #fff;
    height: 100%;
    width: 35vw;
    position: sticky;
}

.categoria-info {
    padding: 20px 20px;
    background-color: #fff;
    color: #000;
    width: 100%;
    font-size: 16px;
    border-radius: 7px;
}
.slug { 
    font-size: 8px;
    color: #d2d2d2;
    
}

.listagem-de-categoria h1{
    font-size: 24px;
}
.listagem-de-categoria a{
    font-size: 16px;
}

.dropdown {
    top: 4.5rem;
    right: 1.5rem;
    width: 80px;
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
}

