.pedido-adm{
    position: absolute;
    height: 200px;
    width: 1150px;
    border-radius: 15px;
    background-color: #f1f1f1;

    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px 0px 0px;
    box-sizing: border-box;
}

.img-and-title{
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 60px;
    font-size: 24px;
}

.imagem-produto{
    position: relative;
    width: 161px;
    height: 187px;
}

.name-prod{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.status{
    display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.status-txt{
    position:relative;
    font-size: 20px;
}

.current-status{
    position: relative;
  font-size: 32px;
}

.order-details{
margin: 0%;
}

.valor-prod{
position: relative;
  font-size: 32px;
}


.cancel{

    cursor: pointer;
    border: none;
    padding: 15px 20px;
    background-color: rgba(200, 0, 0, 0.89);
    position: absolute;
    top: 162px;
    left: 952px;
    border-radius: 20px;
    width: 176px;
    height: 28px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.cancelar-pedido{
    position: relative;
    font-size: 16px;
    font-family: inherit;
    color: #fff;
    text-align: left;
}