body, html {
    height: 100%;
    width: 100%;
}

.home-body {
    background: #ECECEC;
    height: 100vh;
    overflow: hidden auto;
}

.navbar-journey {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px;
}

.menu-items {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu-items a {
    color: #000;
    text-decoration: none;
    border-radius: 20px;
    padding: 7px 10px;
    transition: .2s ease;
}

.menu-items a:hover {
    background: #ddd;
}

.menu-items a.client-area{
    border: 1px solid #ccc;
} 

.menu-items a.client-area:hover{
    background: #9B27AF;
    color: #fff;
    border-color: #9B27AF;
} 

.menu-items a.admin-area {
    padding: 7px;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-items a.admin-area:hover {
    color: #fff;
    background: #ccc;
}

.menu-actions {
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu-mobile {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .menu-items {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 1.4rem;
        background: #fff;
        transition: .2s ease;
        transform: translateX(100%);
    }

    .menu-mobile {
        display: inherit !important;
    }
    
    .menu-items.open {
        transform: translateX(0);
    }
}

.journey-content {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.journey-stepper-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.journey-stepper {
    padding: 10px 0 30px 0;
}

.journey-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.journey-header{
    margin-bottom: 40px;
    padding: 0 10px;
    text-align: center;
}

.questionario-cards {
    display: flex;
    gap: 20px;
}

.questionario-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    cursor: pointer;
    transition: .2s ease;
}

.questionario-card:hover {
    box-shadow: 0px 4px 42px 0px rgba(0, 0, 0, 0.05);
    transform: scale(1.025);
    border: #ccc solid 1px;
}

.questionario-card-info {
    padding: 20px;
    box-sizing: border-box;
    background: #fff;
    text-align: center;
}

.questionario-card-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.questionario-card-label {
    text-transform: capitalize;
}

.produto-journey-escolha-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    transition: .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff30;
    /* background-color: #ffffff; */
    backdrop-filter: blur(10px);
    box-shadow: 2px 2px 32px 16px rgba(0, 0, 0, .04);
}

.produto-escolha {
    width: 80vw;
    height: 80vh;
    border-radius: 5px;
    
    
    border: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
    display: flex;
    box-sizing: border-box;
}

.produto-escolha-gallery{
    width: 65%;
    display: flex;
    flex-direction: column;
    min-height: 0;
    height: 100%;
}
.produto-escolha-info {
    flex: 1;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.produto-escolha-info-label {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.produto-escolha-info-content{
    padding: 40px 30px;
}

.produto-escolha-info-desc {
    color: #999;
    margin: 10px 0;
    position: relative;
}

.produto-escolha-gallery {
    border-right: 1px solid #ccc;
}

.produto-escolha-gallery-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.produto-escolha-gallery.multiple > .produto-escolha-gallery-cover {
    height: 80%;
}

.produto-escolha-gallery-images {
    overflow: auto hidden;
    padding: 10px;
    box-sizing: border-box;
    height: 20%;
    display: flex;
    gap: 10px;
    flex-shrink: 0;
}

.produto-escolha-gallery-images img {
    height: 100%;
    cursor: pointer;
    border-radius: 4px;
    padding: 4px;
    box-sizing: border-box;
    aspect-ratio: 1/1;
    border: 1px solid #ccc;
}


.produto-escolha-buy {
    display:inline-block;
    margin-top: auto;
    height: 20%;
    background: #000;
    color: #fff;
    transition: .2s ease;
    cursor: pointer;
    padding: 30px;
    box-sizing: border-box;
}

.produto-escolha-buy:hover {
    height: 25%;
}

.produto-escolha-buy-warning {
    position: relative;
    top: 4px;
    transition: .2s ease opacity;
    color: #ccc;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: .9rem;
    word-break: normal;
    overflow-wrap: break-word;
}

.produto-escolha-buy:hover > .produto-escolha-buy-warning{
    opacity: 1;
}


.produto-escolha-buy-warning {
    opacity: 0;
}

.produto-escolha-colors {
    display: flex;
    gap: 5px;
}

.produto-escolha-color-hex {
    height: 100%;
    width: 15px;
    display: block;
}

.produto-escolha-color {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    display: flex;
    gap: 10px;
    cursor: pointer;
    transition: .2s ease border-color;
}

.produto-escolha-color.dark .produto-escolha-color-hex {
    border: 1px solid #000000;
}

.produto-escolha-color.ativo {
    border-color: #000;
}

.pedido-container {
    padding: 0 40px;
}